.imgBanner {
  margin-top: 4%;
  height: 700px;
}
h1.ant-typography,
.ant-typography h1 {
  text-align: center;
  margin: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ant-row {
  width: 80%;
  margin: auto;
  padding: 3rem;
}
.ant-col-6 {
  margin-bottom: 2rem;
}
.ant-card-cover {
  position: relative;
}
.ant-card-cover img {
  height: 300px;
  width: 100%;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 25px;
}
.movie_detail {
  padding: 6% 39%;
  margin-top: 1rem;
  background: linear-gradient(to right, #c9a90b, #e87009);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0px;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 80%;
}
.movie_detail b {
  position: relative;
  z-index: 1;
  color: black;
}
.movie_detail::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: linear-gradient(to right, orange, red);
  transition: all 0.5s;
  transform: scaleX(30deg);
}
.movie_detail:hover::after {
  width: 100%;
}
.ant-card-bordered {
  margin: 0 0.5rem;
}
.btn_hot {
  width: 40%;
  border: none;
  background-color: red;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  padding: 0.5rem;
  margin-left: 10%;
  position: absolute;
  top: -5%;
  left: 45%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.ant-pagination {
  text-align: center;
}
/* cinemaList */
.cinemaListInfo {
  margin: auto;
  width: 70%;
  padding: 1rem;
  border: 1px solid #8080806e;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 2000px;
  margin: 1rem;
}

.flip-card-front {
  position: relative;
  /* width: 85%; */
  height: 80%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(360deg);
}
.flip-card-front img {
  transform: rotateY(360deg);
}

.bgBanner {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
