.bgColor{
    background-color: white;
    opacity: 0.9;
    color: black;
    display:flex;
    justify-content:space-between;
    box-shadow: 0 0 10px grey;
    position:fixed;
    width:100%;
    z-index:99;
    top: 0;
}
.logo{
    max-height: 50px;
    max-width: 50px;
}
.menuItem{
    display: inline-flex;
    align-items: center;
}
.ant-tooltip-placement-bottom {
    padding-top: 0 !important;
}
.ant-tooltip-inner{
    background-color: gray !important;
}
.textHeader{
    font-size: 14px !important;
    font-family: 'SF Regular' !important;
}

/* .ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item-selected.ant-menu-item-only-child .ant-menu-title-content a {
    color: red !important;
} */


.ant-menu-item-selected a{
    color: black !important;
}
